<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SimpleShopping</title>
</head>
<body>
    <div class="main_container">
        <div>
            <table id="books">
                <thead>
                <tr>
                    <th>제목</th>
                    <th>설명</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books.get(status)}">
                    <td th:text="${book.getTitle()}"></td>
                    <td th:text="${book.getDescription()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>